@charset "utf-8";
/* 초기화 파일 */

/*요소 여백 초기화*/
html, body,
h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd,
form, fieldset, input, textarea, select, button,
div, span, section, article,
blockquote, p, address, pre, cite,
iframe, table, th, td {margin:0; padding:0; box-sizing: border-box;}

/*제목*/
h1, h2, h3, h4, h5, h6 {font-size:1em; font-weight:normal;}

/*테두리*/
fieldset, table, img {border:0 none;}

/*목록*/
ul, ol, li {list-style-type:none;}

/*테이블*/
table {border-collapse:collapse;}
capxion, th {text-align:left;}
th {font-weight:normal;}

/*이미지와 폼 요소 정열*/
img {vertical-align:middle;}
label, input, select, textarea, button {vertical-align:middle;}

/*폼 요소*/
label, button {cursor:pointer;}
legend {position:absolute; font-size:0; line-height:0;}

/*텍스트 관련*/
strong, em, address, cite {font-weight:normal;font-style: normal;}

/*수평선*/
hr {display:none;}

button {background-color: transparent;outline: none;border: none;}
mark {background-color: transparent;color: inherit;}
textarea {background-color: transparent;border: none;outline: none;resize: none;line-height:1;}
input {background-color: transparent;border: none;outline: none;line-height:1;}

/* a태그 */
a {text-decoration: none;}